body {
     background-color: #fff;
     -webkit-animation: random 5s infinite;
     animation: random 5s infinite;
}
@keyframes  random {
    15% { background-color: red; } 
    30% { background-color: yellow; } 
    45% { background-color: green; } 
    60% { background-color: blue; }
    75% { background-color: white; }  
}